.Rproj.user
.Rhistory
.RData
.Ruserdata
Old
Document
SimulationFits/.DS_Store
SimulationFits/Sim_Baseline_other.rda
SimulationFits/Sim_NightReasc_other.rda
Outgoing
SummarizeResults.html
SummarizeResults_cache
SummarizeResults_files